<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
      <link rel="stylesheet" href="/css/loaderComponent.css" />
  <script src="/javascript/loaderComponent.js"></script>
    <link rel="stylesheet" href="/css/auth/forgotPass.css">
  </head>
  <body>
    <div class="center" id="loader"></div>
    <div class="container"><%- html %></div>

    <script src="/javascript/auth/forgotPass.js"></script>
  </body>
</html>
