<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/auth/resetPass.css">
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
    <script src="/sweetalert2/sweetalert2.min.js"></script>
        <script src="/javascript/auth/resetPass.js" defer> </script>
  </head>
  <body>
    <div class="container"><%- html %></div>
  </body>
</html>
