:root {
  --light-blue: #b3d3ea;
  --brown: #e7e7e7;
  --blue: #0969da;
  --white: #ffffff;
}
.A4-container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: sans-serif;
}
.A4-main {
  display: block;
  padding-left: 350px;
  padding-top: 50px;
}
/* table,tr,td{
  border: 1px solid black;
} */
.myTable{
  margin: 20px 0px;
  background-color: aliceblue;
  padding: 10px;
}
.A4-table-title{
  width: 180px;
  min-width: 180px;
  height: 50px;
  background-color: rgb(219, 236, 250);
  border-radius: 5px;
  text-align: center;
  word-wrap: anywhere;
}
.A4-table-data{
  background-color: white;
  border-radius: 5px;
  padding-left: 3px;
  word-wrap: anywhere;
}
#data3:focus,textarea:focus{ 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }

#data1,#data2,#data3{
    background-color: transparent;
    border: 0px solid;
    height: 25px;
    width: 160px;
    min-width: 160px;
    color: black;
    width: 780px;
    word-wrap: anywhere;
    font-size: 16px;
}
#data3{
  height: 40px;
}
#data1,#data2{
  color: #2c5777;
  font-weight: 500;
  font-size: 18px;
}
#data3:focus{
  border-color: #2c5777;
}
#data1:focus,#data2:focus{
  outline: none;
}

textarea{
  border: 0px solid;
  max-width: 780px;
  min-width: 780px;
  min-height: 120px;
  height: 40px;
  
}


.A4-patientname,.A4-appointmentdate{
  display: flex;
  gap: 5px;
  color: #2c5777;
  font-size: 15px;
}
.A4-patientname{
  padding-top: 27px;
}
/* input:focus,textarea:focus{
  outline: none;
} */
/* .firstp{
  display: flex;
}
p{
  height: 35px;
} */
.A4-content{
  max-width: 1000px;
}
#A4-Home-Button,#A4-Edit-Button{
  height: 40px;
  width: 185px;
  background-color: var(--light-blue);
  border: 1px aliceblue;
  font-size: 17px;
  border-radius: 5px;
  color: #2c5777;
}
.A4-editPrescription-Button{
  padding: 30px 450px;
  display: flex;
  gap: 15px;

}
#A4-Home-Button:hover,#A4-Edit-Button:hover{
  background-color: var(--blue);
  color: var(--white);
}
.A4-heading1{
  color: #2c5777;
  padding-top: 55px
}
.A4-btn {
  width: 120px;
  height: 30px;
  padding: 5px;
  text-align: center;
  margin: 5px auto;

  display: flex;
  justify-content: center;

  border-radius: 3px;

  background-color: var(--light-blue);
}

.A4-btn:hover {

  cursor: pointer;
  color: var(--white);
  background-color: var(--blue);
}

.A4-back-btn {
  margin: 20px 0;
}

