<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Doctors</title>
    <link rel="stylesheet" href="/css/loaderComponent.css">
    <script src="/javascript/loaderComponent.js" defer></script>
    <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css" />
    <link rel="stylesheet" href="/css/sideBar/newSidebar.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <style>
        /* .our-doctors-section {
          margin-left: 300px;
        } */

    #a5-patient-doctor-active {
      background-color: #0969da;
      transform: translate(5px);
      border-radius: 5px;
    }

    #a5-patient-doctor-active a,
    #a5-patient-doctor-active i {
      color: #ffffff;
    }

    .all-doctors .search-doctor {
      gap: 8px;
    }

    .doctor-names #dname {
      min-width: 200px;
    }

    .search-btn .btn {
      margin-left: 4px;
    }
    </style>
      <script src="/javascript/carousel.js" defer></script>
    <script src="/javascript/homepage.js" defer></script>
  </head>
  <body>
    <div class="center" id="loader"></div>
<!-- Add NavBar -->
   <%- include(`../../common/newSidebar/patientNav.ejs`) %>
    <div class="main-container">
      <!-- our doctor section -->
      <div class="doctors-container">
      
        <div class="our-doctors-section">
          <div class="a5-container">
            <div class="section-heading">
              <p class="steps-title">Our Doctors</p>
              <p class="steps-subtitle">
                We provide a wide range of creative services for clients. But the
                most important thing is that of pleasure.
              </p>
            </div>

            <!-- search bar of doctor -->
            <div class="all-doctors">
              <div class="search-doctor">
                <div class="specialities">
                  <select name="speciality" id="a5-doctorCity">
                    <%- city %>
                  </select>
                </div>
                <p class="or">OR</p>
                <div class="specialities">
                  <select name="speciality" id="speciality">
                    <option value="">--Select Speciality--</option>
                    <%- html %>
                  </select>
                </div>
                <p class="or">OR</p>
                <div class="doctor-names">
                  <input
                    type="text"
                    name="dname"
                    id="dname"
                    list="doctor-name"
                    placeholder="Search Doctor by name"
                  />

                  <datalist id="doctor-name">
                    <!-- <option value="ms">MS</option>
                      <option value="md">MD</option>
                      <option value="mbbs">MBBS</option> -->
                  </datalist>

                  <div class="search-btn">
                    <input
                      type="submit"
                      class="btn"
                      value="Search"
                      id="search-doctor"
                    />
                  </div>
                </div>
              </div>

              <div class="swipe-btns">
                <!-- button pushed from js -->
                  <!-- <button class="left-swipe"> << </button>
                  <button class="right-swipe"> >> </button> -->
              </div>
              <div class="doctors">
                <div class="cards">
                  <!-- <div class="card">
                  <div class="img">
                    <img src="/assets/doctor.png" alt="" />
                  </div>
                  <div class="details">
                    <p class="name">doctor1</p>
                    <p class="speciality">MS</p>
                  </div>
                  <p class="rating">
                    <img src="/assets/gstar.png" width="15px" alt="" />
                    <img src="/assets/gstar.png" width="15px" alt="" />
                    <img src="/assets/gstar.png" width="15px" alt="" />
                    <img src="/assets/gstar.png" width="15px" alt="" />
                    <img src="/assets/gstar.png" width="15px" alt="" />
                  </p>
                </div>
                <div class="card">
                  <div class="img">
                    <img src="/assets/doctor.png" alt="" />
                  </div>
                  <div class="details">
                    <p class="name">doctor2</p>
                    <p class="speciality">MS</p>
                  </div>
                  <p class="rating">
                    <img src="/assets/gstar.png" width="15px" alt="" />
                    <img src="/assets/gstar.png" width="15px" alt="" />
                    <img src="/assets/gstar.png" width="15px" alt="" />
                    <img src="/assets/gstar.png" width="15px" alt="" />
                    <img src="/assets/gstar.png" width="15px" alt="" />
                  </p>
                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
  </body>
</html>
