<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/homepage.css" />
  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/loaderComponent.css">
  <script src="/javascript/loaderComponent.js"></script>
  <link rel="stylesheet" href="/css/doctorPanel/a7dashboard.css">
  <link rel="stylesheet" href="/css/doctorPanel/profile.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
   <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <script src="/javascript/doctorPanel/fetchCity.js" defer></script>
 <script src="/javascript/patientPanel/patientProfileUpdate.js" defer></script>
  <script src=" /javascript/doctorPanel/doctorValidation.js"></script>
  <title>Edit Profile</title>
</head>

<body>
  <div class="center" id="loader"></div>
     <%- include(`../../common/newSidebar/patientNav.ejs`) %>
  <div class="a7-container">
    <div class="a7-main-profile a7-mr-300">
      <div class="a7-profile-section">
        <div class="a7-profile-title">
          <h1>Edit Profile Details</h1>
        </div>
        <div class="a7-card">
          <div class="a7-card-box">
            <div class="a7-card-color">
              <div class="a7-profile-info">
                <form action="" id="myform" >
                
                  <div class="a7-field-inp"><label for="">Firstname:</label>
                    <input type="text" name="fname" id="firstname" class="a7-form-input dvalid" value="" />
                  </div>
                  <div class="a7-field-inp">
                    <label for="">Lastname:</label>
                    <input type="text" name="lname" id="lastname" class="a7-form-input dvalid" value="" />
                  </div>
                  
                  <div>
                    <label for="">Gender:</label>
                    <input type="radio" name="gender" id="male" class="a7-form-input" value="male" />Male
                    <input type="radio" name="gender" id="female" class="a7-form-input" value="female" />Female
                  </div>

                  <div class="a7-field-inp">
                    <label for="">Date of Birth:</label>
                    <input type="text" name="dob" id="dob" class="a7-form-input dvalid" value="" />
                  </div>
                  <div class="a7-field-inp">
                    <label for="">Contact:</label>
                    <input type="text" name="phone" id="phone" class="a7-form-input dvalid" value="" />
                  </div>
                  <div class="a7-field-inp">
                    <label for="">Address:</label>
                    <input type="text" name="address" id="address" class="a7-form-input dvalid" value="" />
                  </div>
                  <div class="a7-field-inp" >
                    <label for="">Profile:</label>
                    <div id="file" style="display: none;">
                    <input type="file" name="profile_picture" class="a7-form-input " id="profile_picture" style="height: 45px;" >
                      </div>
                      <div id="updateImage">                        
                      </div>
                  </div>
                  <div class="a7-field-inp">
                    <label for="">City:</label>
                    <select name="city" id="city" class="dvalid">
                      <option value="">--Select City--</option>
                    </select>
                  </div>
                  <div class="a7-field-inp">
                    <input type="button" name="" id="" class="a7-update-btn" value="Update" onclick="postPatientData()"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
 
</body>
</html>