<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
      <link rel="stylesheet" href="/css/loaderComponent.css">
      <link rel="stylesheet" href="/css/homepage.css" />
      <script src="/javascript/loaderComponent.js"></script>
  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/doctorPanel/a7dashboard.css">
  <link rel="stylesheet" href="/css/doctorPanel/profile.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <!-- <script src="/javascript/doctorPanel/doctorProfile.js" defer></script> -->
  <script src="/javascript/patientPanel/patientProfileview.js" defer></script>
  <title>Doctor Profile</title>
</head>

<body>
  <div class="center" id="loader"></div>
    <%- include(`../../common/newSidebar/patientNav.ejs`) %>
  <div class="a7-container">
    <div class="a7-main-profile a7-mr-300">
      <div class="a7-profile-section">
          <div class="a7-btn-flex-end">
            <div class="a7-edit-btn"><a id="edtbtn" href="">Edit Profile</a></div>
          </div>         
        <div class="a7-profile-title">
          <h1>Profile Details</h1>
        </div>
        <div class="a7-card">
          <div class="a7-card-box">
            <div class="a7-card-color">
              <div class="a7-profile-info" id="divprofile">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>   
</body>
</html>