<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/adminPanel/allPatientDetails.css">
  <link rel="stylesheet" href="/css/doctorPanel/a7dashboard.css">
  <link rel="stylesheet" href="/css/Pagination/paginationComp.css" />
    <link rel="stylesheet" href="/css/loaderComponent.css">
  <script src="/javascript/loaderComponent.js"></script>
   <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/css/loaderComponent.css">
    <script src="/javascript/loaderComponent.js"></script>
  <style>
    #a5-doctor-patient-active {
      background-color: #0969da;
      transform: translate(5px);
      border-radius: 5px;
    }

    #a5-doctor-patient-active a,
    #a5-doctor-patient-active i {
      color: #ffffff;
    }

    .A7-Sorting-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .sorting-filter {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .sorting-filter select{
      padding: 10px;
      background-color: #b3d3ea;
      border: none;
      color: #040405;
      font-size: 15px;
      font-weight: 500;
      }
  </style>

  <script src="/javascript/doctorPanel/sidebar.js" defer></script>
  <script src="/javascript/doctorPanel/doctorPatientHistory.js" defer></script>
  <title>View Patient History</title>
</head>
<body onload="fetchData()">
  <script src="/javascript/loaderComponent.js"></script>
  <div class="center" id="loader"></div>
  <div class="a5-container">
    <div class="main-container">
    <%- include('../../common/newSidebar/doctorSidebar') %>
    <div class="a5-section">
      
      <div class="a5-search">
        <div class="a5-searchbox">
          <img src="/assets/adminPanel/icons/search.svg" alt="">
          <input type="text" name="searchUser" id="search" placeholder="Search here" tabindex="1">
        </div>
        <!-- <div class="A7-Sorting-header">
          <div class="sorting-filter">
            <div><label for="">Sorting by</label></div>
            <div><select name="sortingOption" id="sortingOrder">
              <option value="asc">Ascending</option>
              <option value="desc">Decending</option>
            </select></div>
            <div><select name="sortingField" id="sortingField">
              <option value="name">Name</option>
              <option value="phone">Contact</option>
            </select></div>
          </div>    -->
          <p id="a5-btn-search" tabindex="2" onclick="searchPatientDetails()">Search</p>

         
        </div>
        <div class="a5-all-user">
          <div class="a5-heading">
          <h2>View Patient History</h2>
          <div class="A4-Pagination-component">
            <div class="home"><button  id="homebtn"><<</button></div>
            <div class="previous"><button id="previousbtn"><</button></div>
            <div class="pagenumber"><p id="pageno">1</p></div>
            <div class="next"><button  id="nextbtn">></button></div>
            <div class="end"><button id="endbtn">>></button></div>
          </div> 
        </div>
          <div class="a5-user-table">
            <table id="a5-user-table">
              <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>More Details</th>
              </tr>
              <tbody id="a5-tbody">

              </tbody>
            </table>
          </div>
        </div> 
           
      </div>
          
    </div>
    </div>
  </div>
 
</body>
</html>