<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css" />
    <link rel="stylesheet" href="/css/sideBar/newSidebar.css" />
    <link rel="stylesheet" href="/css/adminPanel/allPatientDetails.css" />
    <link rel="stylesheet" href="/css/Pagination/paginationComp.css" />
    <link rel="stylesheet" href="/css/doctorPanel/a7dashboard.css" />
      <link rel="stylesheet" href="/css/loaderComponent.css">
    <script src="/javascript/loaderComponent.js"></script>
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <style>
      #a5-doctor-feedback-active {
        background-color: #0969da;
        transform: translate(5px);
        border-radius: 5px;
      }

      #a5-doctor-feedback-active a,
      #a5-doctor-feedback-active i {
        color: #ffffff;
      }
    </style>
    <script src="/javascript/doctorPanel/doctorReview.js" defer></script>
    <title>view Feedback</title>
  </head>

<body onload="fetchDataFun()">
  <div class="center" id="loader"></div>
  <div class="a5-container">
    <div class="main-container">
      <%- include('../../common/newSidebar/doctorSidebar') %>
        <div class="a5-section">
          <div class="a5-search">
            <div class="a5-searchbox">
              <img src="/assets/adminPanel/icons/search.svg" alt="">
              <input type="text" name="searchUser" id="search" placeholder="Search here" tabindex="1">
            </div>
            <p id="a5-btn-search" tabindex="2" onclick="searchPatientReview()">Search</p>
          </div>
          

          <div class="a5-all-user">
            <div class="a5-heading">
            <h2>View Feedback</h2>
            <div class="A4-Pagination-component">
              <div class="home"><button id="homebtn"> << </button>
              </div>
              <div class="previous"><button id="previousbtn"> < </button>
              </div>
              <div class="pagenumber">
                <p id="pageno">1</p>
              </div>
              <div class="next"><button id="nextbtn">></button></div>
              <div class="end"><button id="endbtn">>></button></div>
            </div>
          </div>
          <div class="a5-user-table"></div>
          <table id="a5-user-table">
            <tr>
              <th>Name</th>
              <th>Rating</th>
              <th>Message</th>
              <th>Date</th>
            </tr>
            <tbody id="a5-tbody">
              <!-- fetch data database -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
