<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Payment History</title>
  <!-- CSS for Sidebar -->
  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <!-- CSS for container -->
  <link rel="stylesheet" href="/css/loaderComponent.css">
  <script src="/javascript/loaderComponent.js"></script>
  <link rel="stylesheet" href="/css/adminPanel/patientsAllAppoinment.css">
  <style>
    #a5-doctor-payment-active {
      background-color: #0969da;
      transform: translate(5px);
      border-radius: 5px;
    }

    #a5-doctor-payment-active a,
    #a5-doctor-payment-active i {
      color: #ffffff;
    }
  </style>
  <script src="/javascript/doctorPanel/sidebar.js" defer></script>
  <script src="/javascript/doctorPanel/patientPaymentHistory.js" defer></script>
</head>

<body onload="fetchPatientPaymentData()">
  <div class="center" id="loader"></div>
  <div class="a5-main-container">
    <div class="a5-container">
      <%- include('../../common/newSidebar/doctorSidebar') %>
      <div class="a5-section">
        <div id="a5-patient-basic-details"></div>
        <div>
          <div class="a5-all-doctor">
            <h2>Patient Appointment</h2>
            <div class="a5-doctor-table">
              <table id="a5-doctor-table">
                <tbody id="a5-tbody">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>