<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/loaderComponent.css">
    <script src="/javascript/loaderComponent.js"></script>
    <link rel="stylesheet" href="/css/prescription/createPrescription.css" />
    <link rel="stylesheet" href="/css/sideBar/newSidebar.css" />
  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js" defer></script>
    
  </head>
  <body>
    <div class="center" id="loader"></div>
    <div class="A4-section">
      <div class="A4-container">
        <%- include('../../common/newSidebar/doctorSidebar.ejs') %>
        <div class="A4-main">
          <div class="A4-backbtn"><p class="A4-back-btn A4-btn" onclick="back()"><img src="/assets/adminPanel/icons/back-iceblue.svg" id="A4-arrow-img" alt="Back"></p></div>
          <!-- <div class="A4-title">
            <h1>Patient Details</h1>
          </div> -->
          <!-- <div class="A4-Content">
            <table>
              <tr>
                <td class="A4-table-title">Firstname:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td class="A4-table-title">Lastname:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td class="A4-table-title">Email:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td class="A4-table-title">Contact Number:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td class="A4-table-title">Gender:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td class="A4-table-title">DOB:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td class="A4-table-title">Address:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td class="A4-table-title">BloodGroup:</td>
                <td class="A4-table-content"></td>
              </tr>
            </table>
          </div> -->
          <div class="a5-section" id="a5-patient-basic-details">
          </div>
          <!-- <div class="A4-prescription">
            <input type="button" value="Add Prescription" class="A4-addPrescription" id="A4-addprescription" onclick="addprescreption()"/><br /><br /> -->
            <!-- <input type="button" value="Home" class="A4-addPrescription" id="A4-home" onclick="goToHome()"/><br /><br /> -->
            <!-- <input type="button" value="Get PDF" class="A4-addPrescription" id="A4-generatePdf" onclick="generatePDF()"/> -->
          <!-- </div> -->

          <form action="" id="myForm">
              <div class="A4-PrescriptionDetails">
              <h2>Enter Prescription here</h2>
              <input type="hidden" value="<%= booking_id %>" name="booking_id" id="booking_id" />
              <label for="diagnosis">Diagnosis:</label>
              <input type="text" name="diagnosis" id="diagnosis" onkeypress="removeError('prescriptionerror')"/>
              <p id="diagnosiserror"></p><br /><br />

              <label for="prescription">Prescription:</label>
              <textarea id="prescription" name="prescription" rows="6" cols="50" onkeypress="removeError('prescriptionerror')"></textarea>
              <p id="prescriptionerror"></p><br />

            </div>
            <div class="A4-submitBtn">
              <input type="button" value="Submit" class="A4-submitbtn" onclick=" return submitPrescription()"/>
            </div>
            </form>
        </div>
      </div>
    </div>
    <script src="/javascript/prescription/createPrescription.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>

    const socket = io();

      socket.emit('message', 'Hi');

      socket.on('connectmsg',(data)=>{
        console.log(data);
      })

    </script>
  </body>
</html>
