<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>admin Approve Doctors</title>

  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/adminPanel/adminApproveDoc.css">
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <style>
    #a5-admin-speciality-active {
      background-color: #0969da;
      transform: translate(5px);
      border-radius: 5px;
    }

    #a5-admin-speciality-active a,
    #a5-admin-speciality-active i {
      color: #ffffff;
    }
  </style>

</head>

<body>

  <div class="a5-main-container">
    <div class="a2-approve-table-div">
      <%- include('../../common/newSidebar/adminSidebar.ejs') %>
        <div class="a2-container">
          <div class="a5-flex-btn">
            <!-- <a href="/admin" style="text-decoration: none; color: black;"> -->
            <p onclick="window.location.href=`/admin`" class="a2-back-btn a2-btn">
              <i class="fa-solid fa-arrow-left"></i>
              Back
            </p>
            <!-- </a> -->
          </div>

          <h2 class="a2-approve-h2">All Doctors Specialties</h2>

          <table class="a2-approve-table">
            <tr class="approve-tbl-head">
              <th>Sr. No.</th>
              <th>Specialty Name</th>
            </tr>
            <tbody id="a2-tbody"></tbody>
          </table>

          <h2 class="a2-approve-h2">Pending Request</h2>

          <table class="a2-approve-table" id="pending-request-tbl">
            <tr class="approve-tbl-head">
              <th>Sr. No.</th>
              <th>Specialty Name</th>
              <th>Add Specialty</th>
            </tr>
            <tbody id="pending-speciality"></tbody>

          </table>
          <h3 class="a2-no-data" style="text-align: center; padding: 20px;">No pending Request</h3>
        </div>
    </div>
  </div>
<script src="/javascript/adminPanel/addDocSpeciality.js" ></script>
</body>

</html>