<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Approve Doctor</title>

    <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css" />
    <link rel="stylesheet" href="/css/sideBar/newSidebar.css" />
    <link rel="stylesheet" href="/css/adminPanel/approveDoctor.css" />
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <style>
      #a5-admin-doctor-active {
        background-color: #0969da;
        transform: translate(5px);
        border-radius: 5px;
      }
    
      #a5-admin-doctor-active a,
      #a5-admin-doctor-active i {
        color: #ffffff;
      }
    </style>

  </head>

  <body>
    <div class="main-container">
      <%- include('../../common/newSidebar/adminSidebar.ejs') %>

      <div class="A4-main">
        <div class="A4-container">
          <a
            href="/admin/doctors/all"
            style="text-decoration: none; color: black"
          >
            <p class="a2-back-btn a2-btn">
              <img src="/assets/adminPanel/icons/back-iceblue.svg" alt="Back" />
              Back
            </p>
          </a>

          <h2 class="a2-approve-h2">Doctor Details</h2>

          <div class="A4-Content">
            <table>
              <tr>
                <td id="A4-table-title">Firstname:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td id="A4-table-title">Lastname:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td id="A4-table-title">Email:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td id="A4-table-title">Contact Number:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td id="A4-table-title">Gender:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td id="A4-table-title">DOB:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td id="A4-table-title">Qualification:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td id="A4-table-title">Address:</td>
                <td class="A4-table-content"></td>
              </tr>
            </table>
          </div>

          <div class="A4-clinic-deatils-button">
            <button class="A4-clinic-deatils-btn" onclick="showClinicDetails()">
              Clinic details
            </button>
          </div>

          <div class="A4-clinic-details-content">
            <table>
              <tr>
                <td id="A4-table-title">Clinic Name:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td id="A4-table-title">Address:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td id="A4-table-title">City:</td>
                <td class="A4-table-content"></td>
              </tr>
              <tr>
                <td id="A4-table-title">GST no:</td>
                <td class="A4-table-content"></td>
              </tr>
            </table>
          </div>

          <div class="A4-approve-reject-btns">
            <div class="A4-approve-Button">
              <button
                class="A4-approve-doctor-btn"
                onclick="approveDoctor(`<%=docID %>`)"
              >
                Approve Doctor
              </button>
            </div>
            <div class="A4-reject-Button">
              <button
                class="A4-reject-doctor-btn"
                onclick="rejectDoctor(`<%=docID %>`)"
              >
                Reject Doctor
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

       <script src="/javascript/adminPanel/adminApproveSpecificDoctor.js" ></script>
  </body>
</html>