<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin Approve Doctors</title>

  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/adminPanel/adminApproveDoc.css">
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <style>
    #a5-admin-doctor-active {
      background-color: #0969da;
      transform: translate(5px);
      border-radius: 5px;
    }

    #a5-admin-doctor-active a,
    #a5-admin-doctor-active i {
      color: #ffffff;
    }
  </style>
 
</head>

<body>

  <div class="a5-main-container">
    <div class="a2-approve-table-div">
      <%- include('../../common/newSidebar/adminSidebar.ejs') %>
        <div class="a2-container">
          <!-- <a href="/admin" style="text-decoration: none; color: black;"> -->
          <p onclick="window.location.href=`/admin`" class="a2-back-btn a2-btn">
            <i class="fa-solid fa-arrow-left"></i> Back
          </p>
          <!-- </a> -->

          <div class="doctor-panel">
            <h3 class="a2-approve-h2">Pending Request <span id="total-pending-doc"></span></h3>
            <h3 class="a2-all-doctors-panel">All Doctors <span id="all-doctors-count"></span></h3>
            <h3 class="a2-reject-doc-panel">Rejected Doctors <span id="total-rejected-doc"></span></h3>
          </div>

          <div class="pending-doctors">

            <table class="a2-approve-table">
              <tr class="approve-tbl-head">

                <th>ID</th>
                <th>Doctor Name</th>
                <th>Email</th>
                <th>Qualification</th>
                <th>Status</th>

              </tr>

              <tbody id="approve-tbl-body"></tbody>

            </table>
          </div>

          <div class="all-doctors">

            <table class="a2-approve-table">
              <tr class="approve-tbl-head">

                <th>ID</th>
                <th>Doctor Name</th>
                <th>Email</th>
                <th>Qualification</th>
                <th>View/Delete</th>

              </tr>

              <tbody id="get-all-doctors"></tbody>

            </table>
          </div>

          <div class="a2-rejected-doctors">
            <table class="a2-approve-table">
              <tr class="approve-tbl-head">

                <th>ID</th>
                <th>Doctor Name</th>
                <th>Email</th>
                <th>Qualification</th>
                <th>Status</th>

              </tr>

              <tbody id="a2-rejected-doctors-tbody"></tbody>

            </table>
          </div>
        </div>
    </div>
  </div>
    <script src="/javascript/adminPanel/adminApproveDoc.js" ></script>
</body>
</html>