<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS for Sidebar -->
  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <!-- CSS for container -->
  <link rel="stylesheet" href="/css/adminPanel/patientsAllAppoinment.css">
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <style>
    #a5-admin-patient-active {
      background-color: #0969da;
      transform: translate(5px);
      border-radius: 5px;
    }

    #a5-admin-patient-active a,
    #a5-admin-patient-active i {
      color: #ffffff;
    }
  </style>
  <title>User Details</title>
</head>

<body onload="fetchPatientAllAppointment()">

  <div class="a5-container">


    <%- include('../../common/newSidebar/adminSidebar') %>

      <div class="a5-section" id="a5-patient-basic-details">

      </div>



      <div class="a5-section">
        <div class="a5-all-doctor">
          <div class="a5-table-header">
            <h2>Patient Appointment</h2>
            <p id="a5-active-status" class="a5-approve-reject" onclick="approveReject()">Remove Patient</p>
          </div>

          <div class="a5-doctor-table">

            <table id="a5-doctor-table">
              <tbody id="a5-tbody">


              </tbody>

            </table>

            <div class="a5-popup" id="a5-popup">

            </div>

          </div>

        </div>
      </div>
  </div>


</body>

<script src="/javascript/adminPanel/patientAllAppointment.js" defer></script>

</html>