* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
}

.container {
  padding: 30px 0;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.logo{
  width: 50px;
  /* position: absolute; */

  top: 10px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgb(182, 180, 180);
}

.logo img{
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 90%;
}

.form h2{
  color: #0054d3;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  align-items: center;
  gap: 20px;
  background: white;
}

.content form {
  /* border: 1px solid black; */
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  /* box-shadow: 0 0 5px  0 black; */
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.or {
  display: flex;
  flex-direction: row;
}

form input {
  padding: 6px;
  border-radius: 3px;
  border: 1px solid lightgray;
  font-weight: 400;
}

form input:focus{
  outline-style: solid;
  outline-color: #1e84d3;
}

.date-format{
  display: flex;
  align-items: center;
  flex-direction: row;

}

#address{
  padding: 6px;
  outline: none;
}

.date-format input{
  width: 100%;
}

.submit input {
  width: 100%;
  padding: 6px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #0077d3;
  cursor: pointer;
  font-size: 15px;
  transition: all .4s ease-in-out;
}

.submit input:hover{
  background-color: #1e84d3;
}

.or {
  display: flex;
  align-items: center;
}

.or .left,
.or .right {
  height: 1px;
  background-color: gray;
}

.or p {
  padding: 0 2px;
  color: gray;
}


.mv-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mv-btn p{
  color: gray;
}

.mv-btn a{
  color: #0054d3;
  font-weight: bold;
}

.forgot-pass {
  display: flex;
  align-items: center;
  justify-content: end;
}

a {
  text-decoration: none;
}

#city,#profile {
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 6px;
  font-weight: 500;
}