:root {
  --light-blue: #d2ebf9;
  --brown: #e7e7e7;
  --blue: #0969da;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.a2-approve-table-div {
  max-width: 1280px;
  margin: 0 auto;
}

.a2-container {
  padding: 10px;
  margin-left: 350px;
}

.a2-btn {
  width: 80px;
  height: 30px;
  padding: 5px;
  text-align: center;
  margin: 5px auto;

  display: flex;
  justify-content: center;

  border-radius: 3px;

  background-color: var(--light-blue);
}

.a2-btn:hover {

  cursor: pointer;
  color: var(--white);
  background-color: var(--blue);
}

.a2-btn>i {
  margin-right: 6px;
  margin-top: 1px
}

.a2-back-btn {
  margin: 20px 0;
}

.doctor-panel {
  display: flex;
  gap: 10px;

}

.doctor-panel h3 {
  background-color: var(--light-blue);
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 3px;
}

.a2-approve-h2,
.a2-all-doctors-panel,
.a2-reject-doc-panel,
.a2-approve-h4 {
  margin: 20px 0;
}

.a2-approve-table {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid var(--brown);
}

tbody {
  text-align: center;
}

tbody td {
  padding: 10px 0;
}

.approve-tbl-head th {
  border-bottom: 2px solid var(--blue);
  padding: 10px 0;
}

table {
  border-collapse: collapse;
}

.a2-add-specialty {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 95%;
  padding: 20px 0;
  background-color: var(--light-blue);
}

.a2-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 30px;
}

.a2-specialties {
  display: flex;
  gap: 20px
}

.a2-specialties label {
  font-size: 1.5rem;
  font-weight: bold;
}

.a2-add-spclt-btn {
  position: relative;
  margin: 20px 0;
  height: 35px;
}

.a2-add-spclt-btn p {
  position: absolute;
  /* right: -20; */
  right: 60px;
}

.a2-add-spclt-btn p:hover {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

input {
  padding: 7px;
  font-size: 1.1rem;
}

.a2-submit-specialties {
  width: auto;
  height: auto;
  padding: 10px;
}

#a2-conformtion-box {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 400px;

  transform: translate(-50%, -50%);

  background-color: var(--brown);
}