:root {
  --light-blue: #d2ebf9;
  --brown: #e7e7e7;
  --blue: #0969da;
  --white: #ffffff;
  --black: black;
  --darkblue: darkblue
}

* {
  /* box-sizing: border-box; */
  margin: 0px;
  padding: 0px;
}

.main-container{
  max-width: 1280px;
  margin: 0px auto;
}

.a5-section {
  padding: 10px;
  margin-left: 350px;
}

.a5-search {
  margin: 35px auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

input {
  border: none;
  outline: none;
  width: 400px;
}

.a5-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#a5-btn-search {
  height: 40px;
  width: 100px;
  border-radius: 3px;
  background-color: var(--light-blue);
  padding-top: 11px;
  margin-left: 13px;
  cursor: pointer;
}

#a5-btn-search:hover {
  color: var(--white);
  background-color: var(--blue);
}

.a5-searchbox {
  border: 1px solid var(--black);
  display: flex;
  border-radius: 3px;
}

.a5-all-user {
  margin: 20px 0;
}

#a5-user-table {
  border-collapse: collapse;
  border: 1px solid var(--brown);
  border-radius: 5px;
  width: 100%;
  margin: 15px 0;
}

td {
  text-align: center;
  padding: 8px 0;
}

th {
  box-shadow: 0 2px var(--blue);
  padding: 10px 0;
  text-align: center;
}

.a5-btn {
  height: 33px;
  width: 100px;
  border-radius: 3px;
  background-color: var(--light-blue);
  padding-top: 8px;
  cursor: pointer;
  margin: auto;
}

.a5-btn:hover {
  color: var(--white);
  background-color: var(--blue);
}

.a5-search-backBtn {
  justify-content: space-between;
}

.a5-search-input {
  padding-left: 10px;
}

.a5-back-btn {
  height: 37px;
  width: 100px;
  border-radius: 3px;
  background-color: var(--light-blue);
  padding: 9px;
}

.a5-back-btn:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--blue);
}

.a5-searchbox-center {
  margin: 0 auto;
}

.a5-pagination-flex {
  display: flex;
  justify-content: space-between;
}

.a5-pagination-all-btn {
  margin: 0;
}

.a2-btn {
  width: 80px;
  height: 30px;
  padding: 5px;
  text-align: center;
  margin: 5px auto;

  display: flex;
  justify-content: center;

  border-radius: 3px;

  background-color: var(--light-blue);
}

.a2-btn:hover {

  cursor: pointer;
  color: var(--white);
  background-color: var(--blue);
}

.a2-btn>i {
  margin-right: 6px;
  margin-top: 1px
}

.a2-back-btn {
  margin: 20px 0;
}

.a2-approve-h2 {
  margin: 30px 0;
}