:root {
  --light-blue: #b3d3ea;
  --brown: #e7e7e7;
  --blue: #0969da;
  --white: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.a7-container{
  max-width: 1280px;
  margin: 0 auto;
}


.a7-table-title{
  color:#4d4d4d;
  font-size: 25px;
  font-weight: 700;
  line-height: 2;
  position: sticky;
  top: 0px;
  background-color: white;
  padding: 11px 17px;
}


.a7-doctor-pannel{
  /* width: 70%;
  margin-left: 300px; */
  max-width: 1080px;
  width: 73%;
  margin-left: 350px;
}

.a7-main {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.a7-counter-1 img,
.a7-counter-2 img,
.a7-counter-3 img {
  height: 80px;
  width: 80px;
}

.a7-counter-section {
  display: flex;
  align-items: center;
  padding: 35px;
  background-color: #f4f7f8;
  gap: 20px;
}



.a7-appointment-tbl {
  background-color: #f4f7f8;

  display: flex;
  align-items: center;
  justify-content: center;
}

.a7-table-row {
  width: 90%;
  overflow: scroll;
  height: 400px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* padding: 25px; */
  border-radius: 15px;
  /* align-items: center; */
}

.a7-tbl{
  /* height: 300px; */
  overflow: scroll;
}

.a7-table-header {
position: sticky;
height: 20px;
  top: 73px;
  background-color: white;
} 
#addprescription-btn{
  padding: 10px;
  width: fit-content;
  background-color: var(--light-blue);
  border-radius: 4px;
  font-size: 15px;
}
#addprescription-btn:hover{
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 15px;
}

.a7-table-data {
display: flex;
  /* line-height: 1; */
  font-size: 15px;
  align-items: center;
  color: #171717;
  gap: 121px;
  line-height: 4;
  margin-left: 40px;
}

.a7-btn-style{
  padding: 0px;
    height: 45px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.a7-table-border {
  display: flex;
  align-items: center;
  justify-content: flex-start;
 }


.a7-table-border .a7-pres-btn {
  padding: 15px 25px;
  border-radius: 20px;
  color:#2c5777;
  background-color: #b3d3ea;
}

.a7-card-se6 {
  height: 450px;
  padding: 25px 25px;
}

.a7-card-box-se6 {
  height: 370px;
  background-color: #F3F7FD;
  padding: 10px;
  width: 250px;
}

.a7-card-color-se6 {
  display: flex;
  height: 350px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 25px 0 0 0;
  gap: 15px;
}

.a7-feedback {
  /* display: flex;
  flex-direction: row; */
  padding: 35px;
background-color: #f4f7f8;
border-radius: 0px 0px 0px 25px;

}


.a7-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.a7-pagination-btn {
  display: flex;
  width: 5%;
  margin: 0px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px;
}


.a7-card{
display: flex;
  overflow: scroll;
  overflow-y: scroll;

  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  }
  /* animation: a7-card-se6 10s linear infinite; */


/* @keyframes a7-card {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
} */

.a7-feedback-section{
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
  border-radius: 15px;
  padding: 25px 0 0 35px;
}

.a7-para-review{
  height: 100px;
    width: 150px;
    overflow: scroll;
    word-wrap: break-word;
}

.black-banner {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  font-family: var(--meriweather-font-family);
  width: 100%;
  height: 100px;
  background-color: var(--black-color);
  overflow: hidden;
  white-space: nowrap;
  animation: black-banner 10s linear infinite;
}



.a7-counter-card {
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
}

.a7-counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.a7-counter-card .a7-label {
  color: #ababab;
  font-size: 15px;
}

.a7-counter .a7-label-count {
  color: #4d4d4d;
  font-size: 35px;
}

.a7-profile-se6 img{
  height: 100px;
  width: 100px;
  border-radius: 90%;
}

.a7-text-content-se6 p{
  font-size: 15px;
  height: 93px;
  overflow: hidden;
}

.a7-mr-300 {
max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.A7-review-message{
  width: 30%;
  word-wrap: break-word;
}

