<div class="A4-Pagination-component">
  <div class="home"><button onclick="home()" id="homebtn"><<</button></div>
  <div class="previous"><button onclick="previous()" id="previousbtn"><</button></div>
  <div class="pagenumber"><p id="pageno">1</p></div>
  <div class="next"><button onclick="next()" id="nextbtn">></button></div>
  <div class="end"><button onclick="end()" id="endbtn">>></button></div>
</div> 