<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <style>
    .active-button {
      text-align: center;
      margin-top: 9%;
    }

    .error-404 {
      font-size: 23px;
      /* color: #1a78d3; */
    }
  </style>
</head>

<body>

  <div class="active-button">
    <div>
      <img src="/assets/404.png" alt="Page Not Found!">
    </div>
    <p class="error-404">Page Not Found!</p>
  </div>

</body>

</html>


<!-- blue :  #585ce5 -->

<!-- offwhite :  #f4f7f8 -->