<div class="a5-sidenav">
  <div class="a5-sidenavupperbox">
    <div class="a5-profile">
      <div class="a5-profilephoto">
        <a href="/doctor/profile" id="viewprofile"><img src="" alt="profile" class="a5-profileimage" id="profile" /></a>
      </div>
      <div class="a5-accountname">
        <p class="a5-username" id="name"></p>
        <p class="a5-useremail" id="email"></p>
      </div>
    </div>
    <div class="a5-logout">
      <P class="a5-btn-logout" onclick="logout(event)"><a href="/logout" id="logout">Log out </a></P>
    </div>
  </div>

  <div class="a5-lists">
    <div class="a5-list-item" onclick="window.location.href=`/doctor/dashboard`" id="a5-doctor-dashboard-active">
      <i class=" fa-solid fa-house a5-list-item-img"></i>
      <a id="viewdashboard">Dashboard</a>
    </div>
    <div class="a5-list-item" onclick="window.location.href=`/doctor/upcomingSlots`" id="a5-doctor-schedule-active">
      <i class="fa-solid fa-calendar-days a5-list-item-img"></i>
      <a>Schedule</a>
    </div>
    <div class="a5-list-item" onclick="window.location.href=`/doctor/patient/detail`" id="a5-doctor-patient-active">
      <i class="fa-solid fa-bed-pulse a5-list-item-img"></i>
      <a id="viewpatient">My Patients</a>
    </div>
    <div class="a5-list-item" onclick="window.location.href=`/doctor/prescriptiondetails`" id="a5-doctor-prescription-active">
      <i class=" fa-solid fa-bed-pulse a5-list-item-img"></i>
      <a id="prescriptionDetails">Prescription Details </a>
    </div>
    <div class="a5-list-item" onclick="window.location.href=`/doctor/payment/history`" id="a5-doctor-payment-active">
      <i class=" fa-regular fa-credit-card a5-list-item-img"></i>
      <a id="paymenthistory">Payment History</a>
    </div>
    <div class="a5-list-item" onclick="window.location.href=`/doctor/reviews`" id="a5-doctor-feedback-active">
      <i class="fa fa-comments a5-list-item-img"></i>
      <a id="viewfeedback">Feedback</a>
    </div>
  </div>
</div>

<script src="/javascript/auth/logout.js" defer></script>
<!-- <script src="/javascript/doctorPanel/sidebar.js" defer></script> -->
<script defer>
  const userData = JSON.parse(localStorage.getItem('userinfo'));
  if(userData.profile){
    document.getElementById('profile').setAttribute('src',`/imgs/${userData.profile}`);
  }
  else{
    document.getElementById('profile').setAttribute('src',`/assets/profile.png`);
  }
document.getElementById('name').innerHTML = `${userData.fname + " " + userData.lname}`;
document.getElementById('email').innerHTML = userData.email;
</script>