:root {
  --light-blue: #d2ebf9;
  --light-blue-border: #3984af;
  --brown: #e7e7e7;
  --blue: #0969da;
  --white: #ffffff;
  --black: #07090c;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

hr{
  color: var(--blue);
}

.A3-main-container{
  max-width: 1280px;
  margin: 0 auto;
}

.A3-container {
  padding: 10px;
  margin-left: 350px;
}

.A3-main {
  border: 1px solid var(--brown);
  padding: 20px;
}

.A3-main>.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}


form .row {
  display: flex;
  gap: 20px;
}

form .row .times {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#generateSlot {
  margin-left: 45%;
}

.error {
  color: red;
  font-size: 14px;
}

.A3-row-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.A3-row-1 a {
  background-color: var(--light-blue);
  padding: 20px;
  color: var(--black);
  cursor: pointer;
}

#myform .row {
  padding: 20px;
}

.A3-buttons {
  background-color: #b3d3ea;
  border-radius: 8px;
  color: #2c5777;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  outline: none;
  font-weight: 400;
  line-height: 1.15385;
  text-align: center;
  padding: 5px;
}

#myform .row input[type="button"]:hover {
  background-color: var(--light-blue-border);
  color: var(--black);
}

#myform .row input[type="text"],
#myform .row input[type="date"] {
  border-radius: 8px;
  color: #2c5777;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  outline: none;
  font-weight: 400;
  line-height: 1.15385;
  text-align: center;
  padding: 5px;
}

#slot_gap{
  border-radius: 8px;
  color: #2c5777;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  outline: none;
  font-weight: 400;
  line-height: 1.15385;
  text-align: center;
  padding: 5px;
}

#popup{
  position: absolute;
  top: 0;
  left: 0;
}