<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link href="/stylesheets/output.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/css/loaderComponent.css">
  <script src="/javascript/loaderComponent.js"></script>
  <link rel="stylesheet" href="/css/slotPanel/slotPanel.css">
  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <style>
    #a5-doctor-schedule-active {
      background-color: #0969da;
      transform: translate(5px);
      border-radius: 5px;
    }

    #a5-doctor-schedule-active a,
    #a5-doctor-schedule-active i {
      color: #ffffff;
    }
  </style>
  <script src="/javascript/slotPanel/slotPanel.js" defer></script>
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
</head>

<body>
  <div class="center" id="loader"></div>
  <section id="A3-Slot">
    <div class="A3-main-container">
      <%- include('../../common/newSidebar/doctorSidebar') %>
        <div class="A3-container">
          <div class="A3-row-1">
            <a id="A3-view" href="/doctor/upcomingSlots" style="color: black; font-weight: bold;"><i
                class="fa-regular fa-eye"></i>
              All Appointments</a>
            <a id="A3-add" href="/doctor/addSlot" style="color: white; font-weight: bold;"><i class="fa-solid fa-plus">
              </i>
              Generate Slots</a>
          </div>
          <div class="A3-main">
            <div class="row">
              <h3 id="A3-heading">Add Schedule</h3>
              <span>
                <label for="slot_gap">Slots Time :</label>
                <select name="slot_gap" id="slot_gap">
                  <option value="10">10 min</option>
                  <option value="20" selected>20 min</option>
                  <option value="30">30 min</option>
                  <option value="45">45 min</option>
                  <option value="60">1 hr</option>
                  <option value="90">1.5 hr</option>
                  <option value="120">2 hr</option>
                </select>
              </span>
            </div>
            <form id="myform" method="post" action="javascript:void(0)">
              <div class="row">
                <div class="date">
                  <input type="date" name="day1[]" id="date_1" onkeydown="event.preventDefault()"
                    onchange="handleChange(event)">
                </div>
                <div class="times">
                  <!-- <input type="text" name="day1" class="A3-time" id="abcd"> -->
                  <input type="button" class="A3-buttons" value="+">
                </div>
                <span class="error"></span>
              </div>
              <hr>
              <div class="row">
                <div class="date">
                  <input type="date" name="day2[]" id="date_2" onchange="handleChange(event)">
                </div>
                <div class="times">
                  <!-- <input type="text" name="day1" class="A3-time"> -->
                  <input type="button" class="A3-buttons" value="+">
                </div>
                <span class="error"></span>
              </div>
              <hr>
              <div class="row">
                <div class="date">
                  <input type="date" name="day3[]" id="date_3" onchange="handleChange(event)">
                </div>
                <div class="times">
                  <!-- <input type="text" name="day1" class="A3-time"> -->
                  <input type="button" class="A3-buttons" value="+">
                </div>
                <span class="error"></span>
              </div>
              <hr>
              <div class="row">
                <div class="date">
                  <input type="date" name="day4[]" id="date_4" onchange="handleChange(event)">
                </div>
                <div class="times">
                  <!-- <input type="text" name="day1"> -->
                  <input type="button" class="A3-buttons" value="+">
                </div>
                <span class="error"></span>
              </div>
              <hr>
              <div class="row">
                <div class="date">
                  <input type="date" name="day5[]" id="date_5" onchange="handleChange(event)">
                </div>
                <div class="times">
                  <!-- <input type="text" name="day1" class="A3-time"> -->
                  <input type="button" class="A3-buttons" value="+">
                </div>
                <span class="error"></span>
              </div>
              <hr>
              <div class="row">
                <div class="date">
                  <input type="date" name="day6[]" id="date_6" onchange="handleChange(event)">
                </div>
                <div class="times">
                  <!-- <input type="text" name="day1" class="A3-time"> -->
                  <input type="button" class="A3-buttons" value="+">
                </div>
                <span class="error"></span>
              </div>
              <hr>
              <div class="row">
                <div class="date">
                  <input type="date" name="day7[]" id="date_7" onchange="handleChange(event)">
                </div>
                <div class="times">
                  <!-- <input type="text" name="day1" class="A3-time"> -->
                  <input type="button" class="A3-buttons" value="+">
                </div>
                <span class="error"></span>
              </div>
              <hr>
              <input style="margin-top: 10px; padding: 10px;" class="A3-buttons" id="generateSlot" type="button"
                value="Generate Slots" onclick="handleGenerate(event)">
            </form>
          </div>
        </div>
    </div>
  </section>

</body>

</html>