* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* container css */

.a5-container{
  max-width: 1280px;
  margin: 0 auto;
}

.main{
   padding: 10px;
}

.booking-page{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.doctor-profile{
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.doctor-img{
  width: 160px;
  height: 200px;
  overflow: hidden;
  border:1px solid rgb(202, 182, 144);
  padding: 3px;
}

.doctor-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.doctor-details{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.doctor-details p {
  color: rgb(88, 88, 88);
}

.doctor-details span{
  font-weight: bold;
  color: black;
  /* font-size: 19px; */
}

#review-count{
  font-size: 14px;
  font-weight: normal;
}

/* booking part */

.appointmentForm {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
  gap: 60px;
}

.appointmentForm .inputs{
  display: flex;
  align-items: center;
  gap: 40px;
}

.appointmentForm .dvalid {
  background: transparent;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px 20px;
}

.date,.appointments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.label {
  font-weight: bold;
}

#date {
  display: block;
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.time {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.time div input {
  background: transparent;
  padding: 7px 14px;
  border: 1px solid black;
  border-radius: 5px;
}

.submit {
  background-color: #aee3ff;
  border: none;
  padding: 8px 26px;
  border-radius: 3px;
  font-size: 17px;
}

.submit:hover {
  background-color: rgb(41, 205, 255);
  color: white;
  cursor: pointer;
}

.A6-rating-review {
  display: flex;
  gap: 60px;
}

.A6-showReview {
  max-width: 480px;
  padding-left: 50px;

  p{
    margin-top: 10px;
  }
}

.gold{
  color: gold;
}

.A6-caption {
  /* margin-top: 30px; */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  overflow-y: scroll;
  max-height: 295px;
}

#A6-heading {
  text-align: center;
  margin-bottom: 20px;
}

#dataNotFound{
  width: 350px;
  height: 210px;
}

.A6-reviewContent {
  background-color: rgb(229, 248, 255);
  width: 350px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.reviewName {
  margin-bottom: 10px;
}

.A6-reviewContent .row-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ratingStar {
  display: flex;
  gap: 20px;
  margin-left: 40px;
}

.A6-patientRating {
  max-width: 400px;
  padding-right: 50px;
}

#rate {
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.textHead {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.star {
font-size: 5vh;
/* position: absolute; */
/* cursor: pointer; */
}

.one {
color: gold;
}

.two {
color: gold;
}

.three {
color: gold;
}

.four {
color: gold;
}

.five {
color: gold;
}

#output {
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
}

.reviewPatient {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#rev {
  line-height: 1.5;
  letter-spacing: 1px;
}

#rateGo {
  background-color: #aee3ff;
  border: none;
  padding: 8px 26px;
  border-radius: 3px;
  font-size: 17px;
}

#rateGo:hover {
  background-color: rgb(41, 205, 255);
  color: white;
  cursor: pointer;
}

#thanksText {
  margin: 30px 30px;
  padding: 1rem;
  display: none;
  position: fixed;
  z-index: 1;
  left: 530px;
  top: 153px;
  overflow: auto;
  color: white;
  background-color: rgb(0, 0, 0);
  max-width: 200px;
  height: 140px;
  border-radius: 0.5rem;
  text-align: center;
}

#thanksGo {
  height: 30px;
  width: 100px;
  border-radius: 20px;
}

#thanksGo:hover {
  background-color: #aee3ff;
}