:root {
  --light-blue: #d2ebf9;
  --light-blue-border: #3984af;
  --brown: #e7e7e7;
  --blue: #0969da;
  --white: #ffffff;
  --black: #07090c;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.a2-patient-dashboard{
  padding: 10px;
  margin: 0 150px;
}

.a5-container {
  max-width: 1280px;
  margin: 0 auto;
}

.a2-patient-home{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.a2-patient-hero-section {
  position: relative;
  margin-top: 20px;
}

.a2-patient-hero-section img {
  max-width: 900px;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.a2-patient-hero-text {
  margin-top: 20px;
  padding-left: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;

  top: 0;
}

.a2-patient-hero-text p {
  margin: 10px 0;
}

.a2-patient-hero-text input {
  width: 50%;
  padding: 5px;
  border-radius: 2px;


}

.a2-btn {
  border-radius: 2px;
  color: var(--white);
  background-color: var(--blue);
}

.a2-search-doctors {
  display: flex;
  gap: 20px;
}

.a2-status-booking {
  display: flex;
  align-items: flex-start;
  /* gap: 30px; */
  /* flex-wrap: wrap; */
}

.a2-patient-status {
  max-width: 400px;
  width: 100%;

}


.a2-patient-status {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.a2-card {

  display: flex;
  align-items: center;

  width: 40%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--brown);
}

.card-itams {
  padding: 0 5px 10px 5px;
  display: flex;
  flex-direction: column;
}

.card-itams i {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--brown);
}

.a2-upcoming-booking {
  max-width: 500px;
  width: 100%;
  border: 1px solid var(--brown);
  max-height: 250px;
  overflow: scroll;
  padding: 10px;
}

.a2-upcoming-booking .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}


/* show chat message  */
.a2-hide-box {
  display: none;
}

#a2-show-window-btn {
  z-index: 5;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #d2ebf9;
  box-shadow: 0 0 5px black;
}

.a2-chat-window {
  z-index: 4;
  position: relative;
  height: 400px;
  width: 300px;

  position: fixed;
  right: 20px;
  bottom: 80px;

  background-color: #d2ebf9;
  box-shadow: 0 0 5px black;
}

.a2-chat-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  font-size: 1.2rem;
  color: white;
  background-color: #1565d8;
}

.a2-chat-input-div {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.a2-chat-input {
  width: 80%;
  height: 40px;
  padding: 10px 5px;
}

.a2-chat-submit {
  width: 18%;
  height: 40px;
}

.a2-chat-message {
  height: 310px;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  gap: 20px;

}

.a2-chat-message p {
  width: 100%;
  padding: 10px 5px;

  border-radius: 2px;
  /* border: 1px solid black; */


}

.text-align-start {
  text-align: start;

}

.text-align-end {
  text-align: end;
}